<nav class="navbar">
  <ul>
     <li><LinkTo @route="index" class="button">Home</LinkTo></li>
    <li><LinkTo @route="add-task" class="button">Add Task</LinkTo></li>
    <li><LinkTo @route="pending-tasks" class="nav-link">Pending Tasks</LinkTo></li>
  </ul>
</nav>
